{{#if signupComplete}}
    <p>Signup complete</p>
{{else}}
    <form {{action 'register' on='submit'}}>
        <p>
            <label for="username">Login</label>
            {{input id='username' placeholder='Enter Login' value=username}}
        </p>
        <p>
            <label for="email">Email</label>
            {{input id='email' placeholder='Enter Email' value=email}}
        </p>
        <p>
            <label for="password">Password</label>
            {{input id='password' placeholder='Enter Password' type='password' value=password}}
        </p>
        <p>
            <label for="confirm_password">Confirm Password</label>
            {{input id='confirm_password' placeholder='Confirm Password' type='password' value=confirm_password}}
        </p>
        <p>
            <button type="submit">Sign Up</button>
        </p>
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
    </form>
{{/if}}
